<div class="home question_cont" id="app">
  <h1>Qué y quiénes</h1>
  <p>La Máquina de las preguntas es un experimento abierto impulsado por <a href="http://populate.tools">Populate Tools</a>/<a href="http://gobierto.es">Gobierto</a>, y un grupo de periodistas y ciudadanos interesados en el fomento de la transparencia, la participación ciudadana y el "civic engagement".</p>
  <p>Si tienes algún comentario escrbíbenos a <a mailto="lets@populate.tools">lets@populate.tools</a>.</p>
  <p><a href="/">← Volver</a></p>
</div>
