default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: postgres
  password: 

development:
  <<: *default
  database: wadus_development

test:
  <<: *default
  database: wadus_test
