<div class="home question_cont">

  <h1>El corrupto, ¿nace o se hace?</h1>

  <h2>Imagínate que vas por ahí y ves 10€. Serán de alguien, pero no se sabe de quién, y si los coges nadie se va a enterar. ¿Los cogerías?</h2>
  <h2>Y ahora imaginate que "vas por ahí" y que puedes coger 10 millones y que tampoco nadie se va a enterar.</h2>

  <h3><a href="question" class="button inline">¿Qué harías tu en estas situaciones?</a></h3>

  <div class="option">
    <input type="text" id="opt_1" name="opt_1" value="" placeholder="tu correo-e" class="inline" />
    <a href="question" class="button inline">Comenzar</a>
  </div>

  <div class="separator"></div>

</div>

