<div class="home question_cont">

  <h1>Y yo me pregunto... </h1>

  <p>A veces un amigo te pregunta algo que hace que te cuestiones cosas, y eso te lleva a tomar decisiones. Si no te hubiesen preguntado, y alguien no hubiese sacado el tema, todo seguiría igual. Llámalo serendipia o lo que sea. </p>
  <p>Otras veces contestar a una pregunta resulta simplemente entretenido. </p>
  <p>Hemos construido una máquina que te hace preguntas para que te plantees cosas, descubras respuestas sobre las que no habías pensado (o no habías pensado que pensabas), o que simplemente pases un buen rato contestando preguntas aleatorias. Algunos dicen que es adictivo. </p>
  <p>(y como lo es, sólo te dejaremos jugar algunos minutos cada día). </p>
  <p>Además, podrás pedirle a la máquina que te recuerde una respuesta dentro de varios años, para ver si sigues pensando lo mismo, o que te vuelva a preguntar algo de un mes, para ver si algo ha cambiado. </p>
  <p>Arranca la máquina: </p>

  <div class="social_share_container">
    <a href="" class="social_share twitter" data-share-network="twitter" ><i class="fa fa-twitter"></i> Twitter</a>
    <a href="" class="social_share facebook" data-share-network="facebook" ><i class="fa fa-facebook"></i> Facebook</a>
  </div>

  <div class="separator"></div>


</div>

