<div class="question_cont carousel">

  <div class="question results">

    <div class="question_main">

      <h1>¿Cuándo fue la última vez que hiciste ejercicio?</h1>
      <h1 class="results">¿Qué han contestado otros?</h1>


      <div class="options">

        <div class="option graph_bar">
          <div class="value" style="width: 34.4%"></div>
          Si / 23,4%
        </div>

        <div class="option graph_bar">
          <div class="value" style="width: 21.6%"></div>
          No lo suficiente / 23,4%
        </div>

        <div class="option graph_bar">
          <div class="value" style="width: 44%"></div>
          Se que está disponible y es fácil de consultar / 23,4%
        </div>

      </div>

    </div>

    <a href="question" class="button slick_next">Sigamos</a>

  </div>

</div>