<div class="question_cont">

  <h1>Ayúdanos, pregúntate</h1>

  <p>Si tienes alguna pregunta que te gustaría hacerle a todo el mundo puedes añadirla aquí. Si no atenta contra la legislación vigente y nos parece interesante, haremos que pase a formar parte de nuestra Gran Lista de Preguntas Que Todo El Mundo Debería Hacerse Una Vez En La Vida. En el futuro igual te damos crédito, pero de momento no lo hemos implementado.</p>

  <h2>La pregunta</h2>

  <textarea></textarea>

  <p>[OPCIONES / Cómo lo vamos a hacer? Igual tiene sentido seriarizarlo o algo así? </p>

  <%# http://kenwheeler.github.io/slick/ %>
  <button class="slick_next">Enviar</button>


  <div class="separator"></div>

  <h3>Qué pasará después de enviar mi pregunta</h3>

  <p>Wadus...</p>

</div>