<div class="question_cont carousel">

  <div class="question">

    <div class="question_main">

      <h1>¿Cuándo fue la última vez que hiciste ejercicio?</h1>
      <h1 class="results"></h1>

      <div class="options">

        <div class="option">
          <input type="radio" id="opt_1" name="opt_1" value="1"/>
          <label for="opt_1">
            <span></span>
            Si
          </label>
        </div>

        <div class="option">
          <input type="radio" id="opt_2" name="opt_1" value="2"/>
          <label for="opt_2">
            <span></span>
            No lo suficiente
          </label>
        </div>

        <div class="option">
          <input type="radio" id="opt_3" name="opt_1" value="3"/>
          <label for="opt_3">
            <span></span>
            Se que está disponible y es fácil de consultar                               
          </label>
        </div>

      </div>

    </div>

    <a href="question_stats" class="button">Siguiente</a>

  </div>

</div>