<div class="question_cont carousel">

  <div class="question">

    <div class="question_main">

      <h1>Estás en una oficina de correos y te dan mal el cambio</h1>
      <h1 class="results"></h1>

      <div class="options">

        <div class="option">
          <input type="radio" id="opt_1" name="opt_1" value="1"/>
          <label for="opt_1">
            <span></span>
            Te lo quedas, total no es mucho
          </label>
        </div>

        <div class="option">
          <input type="radio" id="opt_2" name="opt_1" value="2"/>
          <label for="opt_2">
            <span></span>
            Avisas al empleado
          </label>
        </div>

      </div>

    </div>

    <a href="question_stats" class="button">Siguiente</a>

  </div>

</div>