<div class="home question_cont">

  <h1>¿Qué te han parecido las respuestas que han dado otros? ¿Y las tuyas?</h1>

  <h3>Todos hemos rompemos alguna norma de vez en cuando. Grande o pequeña. Es fácil dejarse caer en la tentación si sabes que no te van a pillar. ¿Pero no sería este comportamiento equivalente al de un corrupto que en vez de 10€ roba 10 millones?</h3>

  <h3>Este pequeño test es un experimento en torno a algunos temas:</h3>

  <ul>
    <li>Cómo de comunes son y cómo auto-percibimos nuestras pequeñas faltas</li>
    <li>Cómo la transparencia puede traer autoregulación</li>
    <li>Cómo el simple hecho de hacerse una pregunta puede cambiar un comportamiento</li>
  </ul>

  <% if false %>
    <h3>Puede que esta pequeña máquina de preguntes evolucion. Si quieres estar al tanto, déjanos tu correo-e:</h3>

    <div class="option">
      <input type="text" id="opt_1" name="opt_1" value="" placeholder="tu correo-e" class="inline" />
      <a href="question" class="button inline">Comenzar</a>
    </div>
  <% end %>

  <h3>Y como siempre lo más importante: da difusión al experimento. Es divertido.</h3>

  <div class="social_share_container">
    <a href="https://twitter.com/intent/tweet?text=<%= CGI.escape('El corrupto, ¿nace o se hace?') %>&url=http://questions.populate.tools" class="social_share twitter" data-share-network="twitter" ><i class="fa fa-twitter"></i> Twitter</a>
    <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI.escape('http://questions.populate.tools') %>" class="social_share facebook" data-share-network="facebook" ><i class="fa fa-facebook"></i> Facebook</a>
  </div>

  <div class="separator"></div>

</div>
